<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gx.pagehelperdemo.mapper.ClassLessonMapper" >
  <resultMap id="BaseResultMap" type="com.gx.pagehelperdemo.entity.ClassLesson" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="class_lesson_id" property="classLessonId" jdbcType="INTEGER" />
    <result column="classesid" property="classesid" jdbcType="INTEGER" />
    <result column="lessonid" property="lessonid" jdbcType="INTEGER" />
    <result column="isused" property="isused" jdbcType="BIT" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>